@mixin background($url, $repeat: no-repeat, $position: center, $size: cover) {
    background-image: url($url);
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}
  