@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@mixin bg-default {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: no-repeat cover center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
@mixin img-settings {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin flex-x-y-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
$fontColor: #FFFFFF;
$fontColor-black: #222222;
*{
    font-family: "Roboto", sans-serif;
}
.header__top .navbar{
    background-color: $fontColor-black;
}
.header__top .navbar-nav{
    li:not(:last-of-type){
        border-right: dotted #000000 2px;
    }
    a{
        font-size: 15px;
        font-weight: 300;
        color: $fontColor;
        white-space: nowrap;
        padding: 4px 8px;
    }
}
.dark-bg{
    background-color: rgba(0, 0, 0, 0.6);
}
.header__bottom{
    background: url("../img/uber_bg.png") no-repeat center/cover;
}
.header__contact{
    color: $fontColor;
}
.header__contact-call{
    font-size: 12px;
    font-weight: 300;
}
.logo{
    color: $fontColor;
}
.logo-icon-name{
    width: 290px;
    height: 32px;
    background-image: url(../icons/Uber.png);
    @include img-settings;
}
.logo_caption{
    font-size: 13px;
    font-weight: 100;
    padding-top: 4px;
}
.button{
    text-transform: uppercase;
    font-size: 14px;
    background: linear-gradient(to bottom, #1EACC7, #4CE2FF);
    color: $fontColor;
    border: none;
    border-bottom:3px solid #1EACC7;
    border-radius: 4px;
}
.header__button_top{
    padding: 16px 22px;
    padding-bottom: 13px;
}
.uber-number{
    font-size: 22px;
    text-align: center;
}
.header-about{
    color: $fontColor;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 123px;
    h1{
        height: 60px;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    h2{
        text-transform: uppercase;
       font-size: 36px; 
       font-weight: 700;
       margin-bottom: 24px;
    }
    p{
        font-size: 18px;
        margin-bottom: 58px;
        &:not(:last-of-type){
            margin-bottom: 38px;
        }
    }
}
.button_about{
    font-size: 18px;
    padding: 25px 40px;
    padding-bottom: 22px;
}
.advantages .col-lg-6{
    padding: 0 30px;
    margin-bottom: 12px;
}
.heading-2{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.heading-2_black{
    color: $fontColor-black;
}
.heading-2_white{
    color: $fontColor;
}
.heading-3{
    padding: 8px 14px;
    margin-bottom: 16px;
    font-size: 11px;
    text-transform: uppercase;
}
.heading-3_black{
    background-color: $fontColor-black;
    color: $fontColor;
}
.heading-3_white{
    color: $fontColor-black;
    background-color: $fontColor;
}
.blue-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 116px;
    height: 116px;
    background-color: #1EACC7;
    border-radius: 50%;
    margin-right: 24px;
}
.about-block{
    display: flex;
    align-items: center;
}
.about-block__p_black{
    font-size: 15px;
    font-weight: 300;
    color: #202020;
}
.about-block__p_blue{
    font-size: 18px;
    color: #1EACC7;
    display: block;
}
.opportunities{
    background-image: url(../img/mobile_bg.png);
    background-position: center;
}
.heading__paragref{
    font-size: 17px;
    text-align: center;
}
.heading__paragref_black{
    color: $fontColor-black;
}
.heading__paragref_white{
    color: $fontColor;
}
.blue-bg{
    background-color: #070716;
    padding-top: 58px
}
[class^="card__bg-"] {
    @include img-settings;
    width: 100%;
    max-width: 320px;
    height: 280px;
    padding-top: 90px;
    padding-bottom: 34px;
    @include flex-x-y-center;
    justify-content: space-between;
}
.card__bg-1{
    background-image: url(../img/card1.png);
}
.card__bg-2{
    background-image: url(../img/card2.png);
}
.card__bg-3{
    background-image: url(../img/card3.png);
}
.card__bg-4{
    background-image: url(../img/card4.png);
}
.card__bg-5{
    background-image: url(../img/card5.png);
}
.card__bg-6{
    background-image: url(../img/card6.png);
}
.opportunities .col-lg-4{
    display: flex;
    justify-content: center;
}
.card__heading{
    color: $fontColor;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.card__button{
    @include flex-x-y-center;
    background-color: #000000;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
}
.opportunities .blue-bg .container-md{
    padding-bottom: 300px;
}
.description{
    padding-top: 220px;
    padding-bottom: 137px;
}
.list{
    h2{
        font-size: 22px;
    }
    ul{
        list-style: none;
        padding-left: 32px;
    }
    p{
        font-size: 18px;
        margin: 0;
        padding-bottom: 10px;
    }
    li{
        padding-bottom: 10px;
        position: relative;
        font-size: 18px;
        color: $fontColor-black;
        &::before{
            position: absolute;
            top: 3px;
            left: -24px;
            width: 21px;
            height: 21px;
        }
    }
}
.list_blue{
    h2{
        color: #1CA8C3;
    }
    p{
        color: #1CA8C3;
    }
    li{
        &::before{
            content: url("../icons/check_blue.png");
        }
    }
}
.list_red{
    h2{
        color: #FF5656;
    }
    p{
        color: #FF5656;
    }
    li{
        &::before{
            content: url("../icons/check_red.png");
        }
    }
}
.conditions{
    .container-md{
        padding-top: 68px;
        padding-bottom: 90px;
    }
    .row{
        margin-bottom: 36px;
    }
}
.cities{
    background-color: #080816;
    padding: 46px 0;
    height: 716px;
}
.cities-bg{
    background: url("../img/world_bg.png") no-repeat center / auto;
}
.show{
    font-size: 16px;
    color: #1FBAD6;
    cursor: pointer;
}
.line{
    height: 7px;
    width: 300px;
    background-color: #1FBAD6;
}
.footer{
    padding-bottom: 66px;
    ul{
        list-style: none;
    }
    .social{
        li{
            cursor: pointer;
        }
    }
    .links{
        li{
            cursor: pointer;
        }
        text-transform: uppercase;
        ul:first-of-type{
            li{
                font-size: 15px;
            }
            li:not(:last-of-type){
               margin-right: 40px;
            }   
        }
        ul:nth-of-type(2){
            li{
                font-size: 11px;
            }
            li:not(:last-of-type){
                margin-right: 20px;
             }   
        }
        p{
            font-size: 11px;
            color: #1FBAD6;
            margin: 0;
        }
    }
    figure{
        margin: 0;
    }
}
.dowload{
    align-items: start;
    justify-content: end;
}
.pt-6{
    padding-top: 58px;
}
.pb-6{
    padding-bottom: 64px;
}
@media (max-width: 1200px) {
    .header-about{
        padding-top: 40px;
        padding-bottom: 34px;
        h1{
            font-size: 42px;
        }
        h2{
            font-size: 28px;
        }
    }
    .header__button_top{
        padding: 12px 18px;
        padding-bottom: 9px;
    }
}
@media (max-width: 992px) {
    .header__top .navbar-nav{
        li{
            border: none !important;
        }
    }
    .heading-2{
        font-size: 26px;
    }
    .logo-icon-name{
        width: 242px;
        height: 27px;
    }
    .uber-number{
        font-size: 18px;
    }
    .header-about{
        padding-top: 40px;
        padding-bottom: 34px;
        h1{
            font-size: 34px;
        }
        h2{
            font-size: 24px;
        }
    }
    .button_about{
        padding: 20px 35px;
        padding-bottom: 17px;
    }
    .about-block{
        flex-direction: column;
    }
    [class^="card__bg-"] {
        max-width: 520px;
    }
    .opportunities .blue-bg .container-md{
        padding-bottom: 0;
    }
    .conditions{
        .container-md{
            padding-top: 48px;
            padding-bottom: 50px;
        }
        .row{
            margin-bottom: 26px;
        }
    }
    .cities{
        padding: 38px 0;
        height: 600px;
    }
    .social{
        display: flex;
        justify-content: center;
    }
    .dowload{
        justify-content: center;
    }
    .footer{
        padding-bottom: 30px;
    }
}
@media (max-width: 768px) {
    .logo-icon-name{
        width: 205px;
        height: 23px;
    }
}
@media (max-width: 576px) {
    .logo-icon-name{
        width: 180px;
        height: 19.6px;
    }
    .uber-number{
        font-size: 12px;
    }
    .header__button_top{
        font-size: 10px;
        padding: 7px 9px;
        padding-bottom: 4px;
    }
    .heading-2{
        font-size: 16px;
    }
    .header-about{
        padding-top: 40px;
        padding-bottom: 34px;
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 20px;
        }
    }
    .button_about{
        padding: 20px 25px;
        padding-bottom: 17px;
    }
    .advantages .col-lg-6{
        padding: 0 15px;
    }
    [class^="card__bg-"] {
        max-width: 320px;
    }
    .blue-bg{
        padding-top: 22px;
    }
    .list{
        h2{
            font-size: 16px;
        }
        p{
            font-size: 14px;
        }
        li{
            font-size: 14px;
        }
    }
    .conditions{
        .container-md{
            padding-top: 24px;
            padding-bottom: 24px;
        }
        .row{
            margin-bottom: 26px;
        }
    }
    .cities{
        padding: 24px 0;
        height: 360px;
    }
    .cities-bg{
        background-size: cover;
    }
}